<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>ru.rsreu.exchangethings.controller.FrontController</servlet-class>
        <multipart-config>
            <max-file-size>10485760</max-file-size>
            <max-request-size>20971520</max-request-size>
            <file-size-threshold>5242880</file-size-threshold>
        </multipart-config>
    </servlet>

    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/input</url-pattern>
        <url-pattern>/user</url-pattern>
        <url-pattern>/admin</url-pattern>
        <url-pattern>/moderator</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>ContentTypeFilter</filter-name>
        <filter-class>ru.rsreu.exchangethings.filters.ContentTypeFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>ContentTypeFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>filter</filter-name>
        <filter-class>ru.rsreu.exchangethings.filters.AuthenticationFilter</filter-class>
    </filter>

    <filter>
        <filter-name>EmptyCommandFilter</filter-name>
        <filter-class>ru.rsreu.exchangethings.filters.EmptyCommandFilter</filter-class>
    </filter>


    <filter-mapping>
        <filter-name>filter</filter-name>
        <url-pattern>/user</url-pattern>
        <url-pattern>/admin</url-pattern>
        <url-pattern>/moderator</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>EmptyCommandFilter</filter-name>
        <url-pattern>/user</url-pattern>
        <url-pattern>/admin</url-pattern>
        <url-pattern>/moderator</url-pattern>
    </filter-mapping>

    <session-config>
        <session-timeout>
            15
        </session-timeout>
    </session-config>

    <listener>
        <listener-class>ru.rsreu.exchangethings.listner.SessionListener</listener-class>
    </listener>

    <error-page>
        <exception-type>
            ru.rsreu.exchangethings.exceptions.AuthenticationException
        </exception-type>
        <location>
            /index.jsp
        </location>
    </error-page>
</web-app>